.weather-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 4rem; 
    padding: 1rem;
    margin: 1rem auto;
    max-width: 1200px; 
}


.weather-extra-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    width: 100%;
    max-width: 600px; 
}

.weather-extra-item {
    background-color: #f9fbfd; 
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.weather-main-block {
    background-color: #f0f4f8; 
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 350px; 
    flex-shrink: 0; 
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}

.weather-location {
    font-size: 2rem;
    margin: 0;
    color: #34495e; 
}

.weather-date-time {
    font-size: 1rem;
    color: #326468; 
    margin: 0.5rem 0;
}

.weather-date {
    font-size: 1rem;
    color: #326468; 
}

.weather-description {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2c3e50;
    margin: 1rem 0 0.5rem;
}

.weather-temp {
    font-size: 2rem;
    font-weight: bold;
    color: #326468; 
    margin: 0.5rem 0;
}

.weather-feels-like {
    font-size: 1rem;
    font-weight: 600;
    color: #7f8c8d; 
}

.weather-range {
    font-size: 1rem;
    font-weight: 600;
    color: #326468; 
    margin-top: 0.5rem;
}

.weather-extra-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    padding: 1rem;
}

.weather-block {
    background-color: #f0f4f8; 
    border: 1px solid #d1d9e6; 
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    font-family: Arial, sans-serif;
}

.weather-block h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #34495e; 
}

.weather-block p {
    font-size: 1rem;
    margin: 0.3rem 0;
    color: #2c3e50; 
}